<div id="about">
	<h2><%= "#{SiteName}" %></h2>
	<p>Lamer news is an implementation of a Reddit / Hacker News style news web site written using Ruby, Sinatra, Redis and jQuery.</p>
	<p>The goal is to have a system that is very simple to understand and modify and that is able to handle a very high load using a small virtual server, ensuring at the same time a very low latency user experience.</p>
	<p>This project was created in order to run <a href="http://lamernews.com/">Lamer News</a> but is free for everybody to use, fork, and have fun with.</p>
	<p>We believe it is also a good programming example for Redis as a sole DB of a nontrivial, real world, web application.</p>
</div>
