<div  id="adminlinks">
	<h2>Admin</h2>
	<h3>Site stats</h3>
	<%= generate_site_stats %>
	<h3>Developer tools</h3>
	<ul>
		<li>
			<a href="/recompute">
				Recompute news score and rank (may be slow!)
			</a>
		</li>
		<li>
			<a href="/?debug=1">
				Show annotated home page
			</a>
		</li>
	</ul>
</div>
