<p>
	Welcome to the password reset procedure. Please specify the username and the email address you used to register to the site.
	<br>
	<b>Note that if you did not specify an email it is impossible for you to recover your password.</b>
</p>
<div id="login">
	<form name="f">
		<label for="username">username</label>
		<input type='text' id="username" name ="username" />
		<label for ="email">email</label>
		<input type='text' id="email" name ="email" />
		<br>
		<submit name="do_reset" value="Reset password">
	</form>
</div>
<div id ="errormsg"></div>
	<script>
	$(function() {
		$("form[name=f]").submit(reset_password);
	});
	</script>
