<p>
	We sent an email to your inbox with a link that will let you reset your password.
</p>
<p>
	Please make sure to check the spam folder if the email does not appear in your inbox in a few minutes.
</p>
<p>
	The email contains a link that will automatically log into your account where you can set a new password in the account preferences.
</p>
