<% if !@user || @user['auth'] != params[:auth] %>
	<p>Link invalid or expired.</p>
<% else %>
	<%# Login the user and bring him to preferences to set a new password. %>
	<%# Note that we update the auth token so this reset link will not %>
	<%# work again. %>
	<% update_auth_token(user["id"]) %>
	<% user = get_user_by_id(user["id"]) %>
	<script>
	$(function() {
		document.cookie =
		'auth=<%= "#{@user['auth']}" %>'+
		'; expires=Thu, 1 Aug 2030 20:00:00 UTC; path=/';
		window.location.href = '<%= "/user/#{@user['username']}" %>';
	});
	</script>
<% end %>
