html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

body {
    font-family: "Helvetica Neue";
    text-rendering: optimizeLegibility;
}

a {
    text-decoration:none;
    color:#666;
}

h2 {
    margin-bottom:20px;
    font-size:22px;
    color:#333;
}

header {
    display:block;
    position:relative;
    padding: 15px 0px 0px 15px;
    background-color:#eee;
    border-bottom: 1px #ccc solid;
}

header h1 {
    display: inline;
    font-size:1.3em;
    font-weight:bold;
    color:#333;
}

header h1 a {
    color:#333;
}

header h1 small {
    font-size: 14px;
}

#content {
    display:block;
    margin-top:20px;
    margin-bottom:20px;
    padding: 15px;
}

footer {
    display:block;
    border-top: 1px #ccc solid;
    text-align: center;
    color:#999;
    font-size:14px;
    margin-bottom:30px;
}

nav {
    margin-bottom:15px;
    display: inline;
}

nav a {
    margin-left: 20px;
}

#account {
    color:#aaa;
    position: absolute;
    top: 5px;
    right: 10px;
    font-weight:bold;
    font-size:14px;
}

#account a {
    margin-left:10px;
    margin-right:10px;
}

#login,#submitform {
    display:block;
    position:relative;
    width:150px;
}

#login label, #submitform label {
    font-size:12px;
    font-weight:bold;
}

div #errormsg {
    width:400px;
    color:#ff9999;
    font-weight:bold;
    margin-top: 15px;
}

article {
    display: block;
    font-size: 16px;
    margin-bottom:15px;
}

article h2 {
    display: inline;
    font-size:20px;
}

article address {
    display: inline;
    color: #999;
    font-size:14px;
}

article h2 a {
    color: black;
}

article h2 a:visited {
    color: #999999;
}

article .uparrow, article .downarrow {
    font-size: 16px;
    cursor: pointer;
}

article .uparrow {
    color:#999;
}

article .downarrow {
    color:#ccc;
}

article p {
    font-size:14px;
    color:#999;
    margin-left:20px;
}

article p a {
    color: #666;
}

article .uparrow.voted {
    color:#99dd99;
}

article .downarrow.voted {
    color:#dd9999;
}

article .downarrow.disabled, .uparrow.disabled {
    visibility: hidden;
}

article.deleted {
    padding-left:20px;
    color:#999;
}

form textarea {
    font-family: Courier;
    font-size:14px;
}

.comment {
    position:relative;
    width:500px;
    display:block;
    margin-bottom:40px;
    min-height:50px;
}

.comment .avatar img {
    position:absolute;
    top:0px;
    left:0px;
    width:48px;
    height:48px;
}

.comment .info {
    position:relative;
    left:60px;
    font-size:14px;
    color:#999;
}

.comment .info a.reply {
    text-decoration:underline;
    padding-left:5px;
}

.comment pre {
    width:50em;
    position:relative;
    left:60px;
    top:10px;
    font-family: Courier;
    font-size: 14px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

note {
    color: #666;
    margin-left:20px;
    font-size:14px;
}

.comment.deleted {
    color: #999;
}

topcomment {
    display:block;
    margin:20px;
}

.singlecomment {
    background-color: #eee;
    border: 1px dotted #ccc;
    padding: 15px;
    margin:10px;
}

.commentreplies h2 {
    font-size: 18px;
    border-bottom: 1px solid #aaa;
}

.userinfo ul li {
    list-style-type: none;
    margin-bottom:10px;
}

.userinfo pre {
    color: #666;
    font-style: italic;
    margin:20px;
}

.userinfo .avatar img {
    width:48px;
    height:48px;
}

.userinfo h2 {
    position:relative;
    left:15px;
    top:-15px;
    display:inline;
    font-size:28px;
    color: #444;
}

.userinfo a {
    text-decoration: underline;
}
